<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('includes/head') %>
  </head>

  <body>
    <div class="container-fluid">
      <%- include('includes/nav') %>
      <h3 class="notes-heading">Your Notes...</h3>
      <% if (notes) { %>
       <% notes.forEach(function(note) {%>
<ul id="notes-list" class="list-group">
  <li class="list-group-item mb-3">
    <div>
      <p class=" note-title text-center bg-info"><%=note.title %></p>
      <p class="note-body"> <%= note.body%></p>
      <div class="button-container">
        <a class="btn btn-secondary" href="/notes/edit/<%=note._id%>">Edit</a>
        <form action="/notes/<%=note._id %>?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <input class="btn btn-danger" type="submit" value="DELETE" />
          </form>
      </div>
    </div>
  </li>

</ul>
       <% }) %>
     <% } %>
  </div>
    <%- include('includes/footer') %>
  </body>
</html>
